<div class='jumbotron text-center'>
  <h1 class=display-4>Add new Quotation</h1>
  <hr class="my-4">
  <div>
    <% @quotation.errors.full_messages.each do |message| %>
      <div class='alert alert-danger'><%= message %></div>
    <% end %>
  </div>

  <%= form_for(@quotation, url: quotations_path, html: { class: 'basic' }) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class:'form-control form-control-lg', rows:'3', placeholder:'Enter your quotation here.' %>
      <%= f.submit 'Add Quotation', class: 'btn btn-success btn-lg m-4' %>
      <%= link_to 'Quotation list', quotations_path, class: 'btn btn-secondary btn-lg m-4' %>
    </div>
  <% end %>
</div>
